/* 
    Creato il : Tue Oct 25 2022
    Descrizione: Stile della homepage
*/

.immagine-post {
    width: 30%;
}

.item{
    flex-basis: 100%;
}

.bb {
    border-bottom: 2px dashed #0d6efd;
}

div#da-fare {
    display: none;
}