{% extends "base.html" %}
{% block titolo %}Homepage{% endblock %}
{% block home_active %}active{% endblock %}
{% block contenuto %}
{% for post in posts %}
<article class="post">
    <h3> <a href="{{ url_for('singlepost', id=post.id) }}" title="Post sul {{post.titolo}}"> {{post.titolo}} </a> </h3>
    <p> {{post.data}} </p>
    <p> <strong> Tag: </strong> <a href="#"> {{post.tag}} </a> </p>
    <p> {{post.contenuto}} </p>
    <img class="immagine-post" src="{{ url_for('static', filename='Immagini/' + post.titolo.lower() + '.jpg') }}"
        alt="Immagine del post">
    <p> <a href="#" title="Commenti al post sul {{post.titolo}}"> 1 commento </a> </p>
</article>
<hr />
{% endfor %}

{% endblock %}
{% block sidebar %}
<div>
    <h3> I più visti del momento </h3>
    <ul>
        <li> <a href="#" title="Primo post"> Primo Titolo </a> </li>
        <li> <a href="#" title="Secondo post"> Secondo Titolo </a> </li>
        <li> <a href="#" title="Terzo post"> Terzo Titolo </a> </li>
        <li> <a href="#" title="Quarto post"> Quarto Titolo </a> </li>
    </ul>
</div>

<div>
    <h3> I migliori commentatori </h3>
    <ul>
        <li> <a href="#" title="Primo utente"> Gianni </a> </li>
        <li> <a href="#" title="Secondo utente"> Francesco </a> </li>
        <li> <a href="#" title="Terzo utente"> Roberta </a> </li>
    </ul>
</div>
{% endblock %}